<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Campus BBVA . Objetivo</title>
	<meta name="author" content="Carlos Lallana" />
	<link type="text/css" rel="stylesheet" href="/statics/stylesheets/bbva-styles.css" />
	<!-- Date: 2013-04-24 -->

	<script src="/statics/js/jquery-1.9.1.js"></script>
</head>

<body>
	<div id="wrapper">
  
		<!-- Header -->    
		<div id="header">
			<a href="/">
				<img src="/statics/img/customLogo.jpg" alt="" border="0" />
			</a>
		</div>
		<!-- Fin Header -->
		
		<!-- Menu -->
		<div id="menu">
<ul>
	<li><a href="/employer/info?p=intro">Inicio</a></li>
    <li><a class="active" href="">Características</a></li>
    <li><a href="/employer/info?p=structure">Estructura</a></li>
    <li><a href="/employer/courses">Solicitud de Cursos</a></li>
</ul>
		</div>
		<!-- Fin Menu -->
	
		<!-- Content -->
		<div id="wrapper_content">			
			<center>
				<img src="/statics/img/site_caracteristicas.png" width="100%" alt="" border="0" />
			</center>	
		</div>
		<!-- Fin Content -->
	
		<!-- Footer -->
		<div id="footer">  
			&copy; BBVA - 2013          
		</div>
		<!-- Fin Footer -->
    </div>
	
</body>
</html>